/* The universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*header class*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This changes the "seo" part of "Horiseon" to a different color*/
.header h1 .seo {
    color: #d9dcd6;
}
/*changed div to nav classmade comment to keep styles the same as before*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*a are the links in the navigation bar*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*hero class is used for the big image below the header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*.float-left class keeps the images to be on the left without messing up the position of nearby text*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*.float-right class keeps the images to be on the right without messing up the postion of nearby text*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-segment {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-segment img {
    max-height: 200px;
}

.content-segment h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*benefits class as seen on the right side of the page*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
}

.benefit-segment {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-segment h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-segment img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*footer class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}

/*
CSS Change Notes:

	- Made comments before each class to find each class easier
	- Changed the names to match the new names from the modified HTML document:
		○ nav
		○ content-segment
		○ benefit-segment
	- Removed multiple class code to be into one under one name
		○ content-segment used to be:
			§ search-engine-optimization
			§ online-reputation-management
			§ Social-media-marketing
		○ benefit-segment used to be:
			§ benefit-brand
			§ benefit-cost
			§ benefit-lead
Moved the content-segment code to be after the content code 

*/